body{
  margin: auto;
  background-image:url('https://media.giphy.com/media/zhUOF7Xx0QAAU/giphy.gif');
   background-size:100%;
   background-repeat: repeat-y;
   background-attachment: fixed;
   height:100%;
   width:100%;
}
.navbar{
  width:100%;
  height: 22px;

  text-align: right;
  background-color: #22212d;
  padding: 5px;
  color: #fcfcfc;
  padding-left: 8px;
  font-size: 60px;
  font-family: Impact, Charcoal, sans-serif;
}
.navbar h1{
  font-size: 40px;
  font-family: Impact, Charcoal, sans-serif;
  margin: 0px;
    text-align: left;
}
.navbar2{
  top: 30px;
    position: relative;
}
.menu{
  position: relative;
  top:-70px;
  left:-12px;
  display: inline;
  text-align: right;
  margin-right: 9px;
}
#progra{
  height: 9px;
  width:70%;
  align-self: center;
  margin-top:55px;
}
.progkalist li{
  font-size: 20px;
  color: white;
  margin-top: -12px;
  padding-left: 10%;
    padding-right: 14%;
      display: inline;
}
.progkalist{
  text-align: center;
  position: relative;
top: 43px;
}
ul{
  text-align: right;
  margin: -14px;
  padding: 0px;
  height: 23px;
  list-style: none;
}

.navbar ul li{
  display: inline;
  font-size: 20px;
}

a{
  text-decoration: none;
  color:inherit;
}
#googleMap{
  height: 470px;
  width: 80%;
  margin-top: 50px;
  margin-left: 9%;
  display: inline-block;
}
#tablur{
  height: 470px;
  width: 80%;
  text-align: center;
  margin-top: 50px;
  margin-left: 12%;
  display: inline-block;
}
table{
  text-align: center;
}
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  position: relative;
}

th,td{
  width: 80px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
iframe{
  height: 170px;
    width: 227px;
}
.team{
  height: 200px;
  width: 200px;
  display: inline-table;
  background-color: white;
}
.team h2{
  font-style: italic;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0px;
}
.grid{
  height: 200px;
  width: 200px;
  display: inline;
  background-color: white;
  border: 1px solid black;
}
.gridkapappa{
  color: white;
  background-color:rgba(100, 100, 100, 0.5);
  border: 2px solid white;
  margin: 2px;
  width: 300px;
  display: inline-block;
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color:white;
}
.gridkapappa:hover{
  transform: scale(1.125);
  color: white;
  background-color:rgba(100, 100, 100,0.8);
}
