<html>
<link rel="stylesheet" type="text/css" href="css\index.css">
<script src="javascript\index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<body>
  <div class="navbar">
    <h1>SMART PARKING SYSTEM</h1>
    <ul class="menu">
      <li><a href="index.html">LOCATE by Map</a></li>
      <a href="name.html"><li>LOCATE by Name</li></a>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
  <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">Login</button></a></li>
    </ul>
  </div>
  <br>
  <div class="navbar2" style="text-align:center;">
    <ul class="progkalist">
      <li><a href="index.html">1.SEARCH</li></a>
      <li><a href="name.html">2.BOOK</li></a>
      <li>3.PAY</li>
    </ul>
  <progress id="progra" value="22" max="100">
  </progress></div>
  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h4 class="modal-title">LOGIN</h4>
  </div>
  <div class="modal-body">
  <p>Don't have an account?<span style="color:blue"><a href="signup.html">Register</a></span></p>
  <form>
  <div class="form-group">
  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div> <div class="form-group">
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  </form>
  </div>
  </div>
  </div>
  </div>
  <div>
  <div id="tablur" ng-app="myApp" ng-controller="customersCtrl">
    <div ng-show="one">
  <div ng-repeat="x in names" class="gridkapappa">
    <div class="grid" ng-click='showOne()'>
    <p>{{ $index + 1 }}</p>
    <p>{{ x.Name }}</p>
    <p>{{ x.price }}</p>
    <p>{{ x.Avail }}</p>
    <p  value="{{$index}}" onclick="travel()" style="font-weight:100000;">CLICK TO BOOK!!</p>
  </div>
  </div>

  <div class="sidebar" ng-show="three" style=" position: relative;top: -471px;left: 99%;">
  <ul>
    <a href="index.html"><li>LOCATE by Map</li></a>
    <li>LOCATE by Name</li>
    <li>Sign In</li>
  </ul>
</div>
</div>
<div ng-show="two">
    <div ng-repeat="x in Spaces" class="gridkapappa"ng-click='showTwo()'>
      <p>{{x.floor}}</p>
      <p  onclick="travel2()">REGISTER YOUR SPOT</p>
    </div>
</div>
<div ng-show="four">
  <iframe src="https://www.paypal.com/in/home" style="width:100%;height:500px;"></iframe>
</div>
</div>
</body>
<script src="javascript\app.js"></script>
</html>
